/*general*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*header*/
header{
    background-color: rgb(173, 216, 230);
    padding: 15px;
}
.container{
    width: 1000px;
    margin: auto;
}
.header{
    background-color: rgb(218, 165, 32);
    display: flex;
}
.text{
    border:dashed 2px black;
    padding: 5px;

}
.centro{
    width: 60%;
    text-align: center;
}
.sinistra{
    width: 20%;
}
.destra{
    width: 20%;
    text-align: right;
}
/*main parte blu con all'interno rettangolo fucsia*/
.blu{
    background-color: rgb(0, 0, 139);
    height: 400px;
    display: flex;
}
.fucsia{
    background-color: rgb(238, 130, 238);
    width: 700px;
    height: 350px;
    margin: auto;
    justify-content: center;
    border:dashed 2px black;
}
/*parte bianca con all'interno rettangolo azzurro e rosa*/
